.offer {
    background: no-repeat url("../images/offer-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 10rem 1.5rem 13.8rem 1.5rem;

    @media ($tablet) {
        background: $whiteColor;
        padding:0
    }

    .container {
        display: flex;
        max-width: 136.2rem;
        justify-content: space-between;

        @media ($tablet) {
            flex-direction: column-reverse;
        }
    }
    &__title{
        @include h1();
        margin-bottom: 3rem;
        @media ($tablet) {
            font-size: 7rem;
            margin-bottom: 5rem;
        }
        @media ($phone) {
            font-size: 5rem;
            margin-bottom: 3rem;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin: 10.5rem 0;
        @media ($tablet) {
            padding: 5rem 6.2rem 5rem 6.2rem;
            margin: 0 auto;
            width: 100%;
            position: relative;
            z-index: 0;
            &::before {
                position: absolute;
                content: url("../images/lines-tablet.svg");
                top: 0;
                left: 0;
                z-index: -1;
                @media ($phone) {
                    display: none;
                }
            }
        }
        @media ($phone) {
            align-items: center;
            padding: 7rem 4.7rem 8rem;
        }


        
        .step {
            @media ($tablet) {
                position: relative;
                width: 28.2rem;
                z-index: 2;
            }
        }
        .step:first-child {
            margin-left: 0;
            margin-bottom: 5rem;
            @media ($tablet) {
                margin-left: 6%;
            }
            @media ($phone) {
                margin-left: 0;
            }
        }
        .step:nth-child(2) {
            margin-left: 17.5rem;
            margin-bottom: 5rem;
            position: relative;
            @media ($tablet) {
                margin-left: 31%;
            }
            @media ($phone) {
                margin-left: 0;
            }
            
        }
        .step:nth-child(2)::before{
            content: url("../images/Arrow-1.svg");
            position: absolute;
            top:-4rem;
            left: -9.5rem;
            @media ($phone) {
            content: url("../images/arrow-3.svg");
            position: absolute;
            top:11rem;
            left:-3.5rem;
            }
        }
        .step:nth-child(2)::after{
            content: url("../images/Arrow-2.svg");
            position: absolute;
            top: 2.7rem;
            left: 105%;
            @media ($phone) {
                content: url("../images/arrow-4.svg");
                position: absolute;
                top:-7rem;
                left: 28.5rem;
                }
        }
        .step:last-child{
            margin-left: 35rem;
            @media ($tablet) {
                margin-left: 56%;
            }
            @media ($phone) {
                margin-left: 0;
            }
        }
    }

    &__reg-form {
    @media ($tablet) {
        padding-top: 10rem;
        padding-bottom: 12rem;
        background: no-repeat url("../images/offer-bg.jpg");
        background-size: cover;
        background-position: center;
    @media ($phone) {
        padding: 10rem 3rem 7rem;
    }
    }
   
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__text {
        max-width: 46.4rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 6rem;
        @media ($tablet) {
            font-size: 2.6rem;
            margin-bottom: 7rem;
        }
        @media ($phone) {
            font-size: 2rem;
            margin-bottom: 5rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            @include input();
            margin-bottom: 2rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media ($tablet) {
                margin-bottom: 1.6rem;
            }
            @media ($phone) {
                margin-bottom: 1.4rem;
            }
        }
    }

    &__signup-btn {
        @include btnLarge();
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    &__conditions {
    color: $cardTextColor;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    max-width: 40.6rem;
    margin-bottom: 3rem;
    @media ($tablet) {
        font-size: 1.2rem;
    }
    @media ($phone) {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    }
    span {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    @media ($tablet) {
        font-size: 1.4rem;
    }
    @media ($phone) {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    }
    &__signin {
    color: $textColorBlue;
    font-size: 2rem;
    font-weight: 500;
    text-decoration-line: underline;
    @media ($tablet) {
        font-size: 1.6rem;
    }
    @media ($phone) {
        font-size: 1.4rem;
    }
    }
}