@font-face {
    font-family: 'Montserrat'; 
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Montserrat'; 
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight: 600;
    font-style:normal;
}
@font-face {
    font-family: 'Montserrat'; 
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: 'Montserrat'; 
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family: 'NovaRound';
    src: url("../fonts/NovaRound-Regular.ttf") format('truetype');
    font-weight:normal;
    font-style:normal;
}