//fonts
$mainFont: 'Montserrat', sans-serif;
$titleFont: 'NovaRound', sans-sefif;

//colors
$headerColor: linear-gradient(180deg, #B5BBC5 0%, rgba(232, 232, 232, 0.8) 100%);
$btnColor: linear-gradient(136deg, #000972 0%, #000EC1 42.94%, #0010E1 74.12%, #2E3DFA 100%);

$greenColor: #50DBD5;
$backgroundColor: #DBE9FF;
$textColor: #2D2C2C;
$textColorBlue: #0010E2;
$textFooterBlue: #000CA5;
$cardTextColor: #535353;
$cardPriceColor: rgba(203, 229, 225, 0.20);
$whiteColor: #fff;


$tablet: 'max-width: 1199px';
$phone: 'max-width:767px';
